*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  scroll-behavior: smooth;
}
body{
 
  font-family: 'Open Sans', sans-serif;
  background-color: #000;

}



.contenedor{
  width: 90%;
  max-width:1200px;
  overflow: hidden;
  margin: auto;
  padding: 40px 0;
}
.header{
 height: 100vh;
 background-image:url('./images/back-header.webp');
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
}
.head{
 text-align: center;
 padding: 0;
 height: 25%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: #fff;
}
.titulo{
  font-family: 'Noto Serif', serif;
  font-size: 60px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg, 
    #f6f2c0,
    #cb9b51 ,
    #f6e27a ,
    #f6f2c0,
    #f6e27a ,
    #cb9b51 ,
    #f6f2c0
    );
  -webkit-background-clip: text;
}
/* ---------Dynamic text----------------- */
.wrap{
 display: flex;

}
.dynamic-text{
  margin-left: 15px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}
.dynamic-text li{
  position: relative;
  list-style: none;
  -webkit-text-fill-color: transparent;
  background: #F7DCE1;
  -webkit-background-clip: text;
  font-weight:500 ;
  font-size: 30px;
  top: 0;
  position: relative;
  animation: textChange 12s steps(4) infinite;
}

@keyframes textChange {
  100%{
    top: -240px;
  }
}

.dynamic-text li::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0B0A0A;
  border-left: 2px solid #40F7FB;
  animation: typing 3s steps(14) infinite;
}
@keyframes typing {
  40%,
  60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}



/* ------------------------ SIDEBAR-------------------------- */
.hamburguesa{
 position: fixed;
 top: 20px;
 right: 30px;
 background-image: linear-gradient(
    90deg, 
    #f6f2c0,
    #cb9b51 ,
    #f6e27a ,
    #f6f2c0,
    #f6e27a ,
    #cb9b51 ,
    #f6f2c0
    );
 width: 40px;
 height: 40px;
 cursor: pointer;
 border-radius: 10px;
 box-shadow: 0 0 6px rgba(0, 0, 0, .5);
 z-index: 7;
}
.menu-navegacion{
 position: fixed;
 top: 0;
 right: 0;
 width: 25vw;
 height: 100%;
 background: linear-gradient(130deg, #000, #fff, #cb9b51);
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 transition: transform .3s ease-in-out; 
 transform: translate(110%);
 box-shadow: 0 0 6px rgba(0, 0, 0, .5);
 z-index: 7;
}
.spread{
 transform: translate(0);
}
.menu-navegacion a{
 color: #000;
 text-decoration: none;
 font-size: 20px;
}

/* -------------- SOLUTIONS   ---------- */

.solutions{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: ; */
  min-height: 50vh;
  background: linear-gradient(130deg, #000, #fff, #cb9b51);
  background-attachment: fixed;
}
.container{
   position: relative;
   width: 1150px;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   transition: .5s;
}

.container .card{
  position: relative;
  width:180px;
  height: 320px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  transition: 1s;

}

.container .card:hover{
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}

.container .card .mid-circle{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  clip-path: circle(110px at center 0);
  text-align: center;

}

.card .mid-circle i{
  font-size: 70px;
  color: #000;
  padding: 15px 0;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.2);;

}


.container a:nth-child(1) .card i{
  animation: animate 10s alternate infinite;

}
@keyframes animate{
  0%{
    color: #000;
  }
  25%{
    color: #40F7FB;
    transform: translateY(60%);

  }
  50%{
    color: #000;
    
  }
  75%{
    color: #40F7FB;

  }
 
}
.container a:nth-child(2) .card .boton{
  margin-top: 30px;
}
.container a:nth-child(2) .card i{
  animation: animate2 15s alternate infinite;

}
@keyframes animate2{
  0%{
    color: #000;

  }
  25%{
    color: #FD4AAE;
  }
  50%{
    color: #000;
    
  }
  75%{
    color: #FD4AAE;
    transform: translateY(60%);

  }
 
}
.container a:nth-child(3) .card i{
  animation: animate3 10s  alternate infinite;

}
@keyframes animate3{
  0%{
    color: #000;
  }
  25%{
    color: #FFDD3E;
  }
  50%{
    color: #000;
    transform: translateY(60%);
    
  }
  75%{
    color: #FFDD3E;

  }
 
}
.container a:nth-child(4) .card i{
  animation: animate4 15s  alternate infinite;

}
@keyframes animate4{
  0%{
    color: #000;
    transform: translateY(60%);

  }
  25%{
    color: #B34CFD;
  }
  50%{
    color: #000;
    
  }
  75%{
    color: #B34CFD;

  }
 
}

.card .content{
  position: absolute;
  bottom: 5px;
  padding: 20px;
  text-align: center;
  /* padding-bottom: 35px; */

}

.card .content h2{
  color: #fff;
  font-size: 40px;
  font-family: 'Poppins';
  text-shadow: 5px 5px rgba(0, 0, 0, 0.2);;

}
.card .content .boton{
  padding: 5px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px ;
  margin-top: 60px;
}

.container a:nth-child(1) .card{
  background: #40F7FB;

}
.container a:nth-child(2) .card{
  background: #FD4AAE;
  /* transform: translateY(10%); */
}
.container a:nth-child(3) .card{
  background: #FFDD3E;
}
.container a:nth-child(4) .card{
  background: #B34CFD;
  /* transform: translateY(10%); */

}
.container a:nth-child(4) .card h2{
  font-size: 40px;
}



/* -------------  ABOUT ------------------*/
.about{
 display:grid;
 grid-template-columns: repeat(2, 2fr);
  height: 80vh;
}

.leftSide{
  background-image: url('./images/about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.leftSide h2{
  font-family: 'Noto Serif', serif;
  font-size: 75px;
  color: #fff;

}
.rightSide{
  display: flex;
  place-items: center;
  text-align: center;

  padding: 50px;
  overflow: hidden;
  
}

.description p{
  color: #fff;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}


/* -------------------------------------- */
/* GALERÍA */
.galeria{
  background: #f2f2f2;
}
.contenedor-galeria{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.img-galeria{
  object-fit: cover;
  width: 30%;
  display: block;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  cursor: pointer;
}
.imagen-light{
  position: fixed;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform .2s ease-in-out;
}
.show{
  transform: translate(0);
}
.agregar-imagen{
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform .3s .2s;
}
.showImage{
  transform: scale(1);
}
.close{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}

/* --------------FOOTER -------------------*/
footer{
  background: linear-gradient(150deg,  #000, #fff);

}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}
.contact-us{
  width: 40%;
  color: #fff;
}
.brand{
  font-weight: 500;
  font-size: 35px;
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg, 
    #f6f2c0,
    #cb9b51 ,
    #f6e27a ,
    #f6f2c0,
    #f6e27a ,
    #cb9b51 ,
    #f6f2c0
    );
  -webkit-background-clip: text;
}

/* SOCIAL MEDIA */
.social-media{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social-media p{
  font-weight: 500;
  color: #000;
  font-size: 20px;
}
.social-media-icon{
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #cb9b51;
  border-radius: 50%;
  text-align: center;
  color: #cb9b51;
}
.social-media-icon:hover{
   background-image: linear-gradient(
    120deg, 
    #f6f2c0,
    #cb9b51 ,
    #f6e27a ,
    #f6f2c0,
    #f6e27a ,
    #cb9b51 ,
    #f6f2c0
    );;
  color: #000;
}
.social-media-icon i{
  font-size: 30px;
  line-height: 60px;
}
.line{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #fff;
}

/* ___________________________________________________________________ */
/* -------------------- WEB PAGE------------------------------ */


.section-web{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/1.webp');
  background-position: center;
  background-size: cover;
}

.container-web {
  position: relative;
  width: 1100px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  

}

.container-web .card-web{
  position: relative;
  max-width: 300px;
  height: 200px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  /* background: #FFDD3E; */
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: .3s ease-in-out;

}
.container-web .card-web:hover{
  height: 420px;
}

.container-web .card-web .imgBx{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  /* left: 5px; */
  z-index: 1;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */

}
.container-web .card-web .imgBx img{
  width: 260px;
  height: 200px;
  /* max-width: 100%; */
  /* max-height: 100%; */
  border-radius: 4px;
}

.container-web .card-web .content-web{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out;
}
.container-web .card-web:hover .content-web{
  visibility: visible;
  opacity: 1;
  margin-top: -80px;
  transition: .3s ease-in-out;

}
/* _____________________________________________________________________ */
/* -------------------------MOBILE-------------------------- */


.mobile-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url('./images/header-mobile.webp');
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  padding: 50px 0 20px;

}
.mobile{
  width: 320px;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr ;
   align-items: center;
  justify-items: center; 
}
.mobile a{
  grid-column: 2;
  padding: 10px 10px;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg, 
    #f6f2c0,
    #cb9b51 ,
    #f6e27a ,
    #f6f2c0,
    #f6e27a ,
    #cb9b51 ,
    #f6f2c0
    );
  border-radius: 5px;
}


.phone{

  grid-row: 1;
  position: relative;
  width: 308px;
  height: 650px;
  background: #000;
  border-radius: 40px;

}


.screen {
  position:absolute;
  top: 20px;
  bottom: 20px;
  right: 6px;
  left: 6px;
  background: #000;
  border-radius: 20px;
  overflow: hidden;

}
.iframe{
  width:311px; 
  height:650px;
}

.screen a img{
  width: 100%;
  height: 100%;
  border-radius: 20px;

}


/* _____________________________________________________________________ */

/* -------------------------UX PAGE-------------------------- */

.study-case, .study-case-fix{
  width: 90%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
.study-case-fix{
  grid-template-columns: 2fr 1fr;
}

.study-case h3{
  grid-column: 1/5;
  color: #fff;
  text-align: center;
}

.study-case p, .study-case-fix p{
  font-size: 20px;
  color: #fff;
 
}
.study-case .image{
  grid-column: 2/5;

  width: 100%;
  /* height: 50%; */
  background-color: #B34CFD;
  display: flex;
  align-items: center;
  

}
.text-study-case span{
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #cb9b51;
}
.study-case .text-study-case{
  grid-column: 1/5;
  /* grid-row: 2/4; */

}
.image img{
  width: 100%;
  height: 100%;

}






/* ________________________________________________________________________________________ */




/* ---------------------MEDIA QUERYS ---------------------*/
@media  (max-width:900px){
  
  

  .hamburguesa{
   
    top: 50px;
  }
  
  
  .menu-navegacion{
    width: 50vw;
  }
  .titulo{
    font-size: 25px;
    margin-bottom: 0px;

  }
  
  
  .dynamic-text li{
   
    /* font-weight:500 ; */
    font-size: 20px;
  }

  .dynamic-text li::after{
    border: none;
  }

  .about{
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    height: 50vh;


   }
   /* .leftSide{
    display: none;
   } */
   .about h2{
    font-size: 40px;
   }
   .description p{
    line-height: 25px;
    font-size: 16px;

   }


   /* galerìa */
   .subtitulo{
    font-size: 25px;
   }
  }
  .img-galeria{
    width: 45%;
   border-radius: 10px;

  }
   
  .footer-content{
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .social-media{
    width: 80%;
    justify-content: space-evenly;
  }
  .social-media i{
    margin-left: 0;
  }
 

  .contact-us{
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }


  /* web-page */
  .container-web {
    height: 100%;
  }

  /* ux page */
  .study-case, .study-case-fix{
    grid-template-columns: 1fr;
    grid-template-rows: 4;
  }
  .study-case h3{
    font-size: 15;
  }
  .text-study-case span{
    font-size: 20px;
  }
  .study-case .image{
    grid-column: 1/5;
  }
  .study-case-fix .image{
    grid-row: 2;
  }
  .study-case p, .study-case-fix p{
    font-size: 18px;
   
  }
  
   /* MOBILE */

   .mobile-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    align-items: center;
    justify-items: center;
    gap: 15px;
  }
  .mobile{
    width: 312px;
    height: 620px;
  }
  .mobile a{
   font-size: 14px;
  }

   .phone{
    
      position: relative;
      width: 290px;
      height: 560px;
      border-radius: 40px;
    
    
    overflow: hidden;
  
  }
  .iframe{
    width:295px; 
    height:455px;
  }

   
   




@media (max-width:600px){
  .head {
    
    height: 15%;}

  .dynamic-text li{
    
    font-size: 18px;
  }
  .dynamic-text li::after{
    border: none;
  }

  .hamburguesa{
   
    top: 18px;
    right: 5px;
  }
  
  .menu-navegacion{
    width: 70vw;
  }
  .titulo{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 0px;

  }
  
  
 

  

  .about{
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    
    height: 100vh;
   

   }
   
   /* .leftSide{
    display: none;
   } */
   .rightSide{
    place-items: center;
    text-align: center;
  
    padding: 50px;
  }  
   .about h2{
    font-size: 40px;
   }
   .description p{
    /* line-height: 18px; */
    font-size: 12px;

   }

   .subtitulo{
    font-size: 25px;
   }
  
  .img-galeria{
    width: 45%;
   border-radius: 10px;

  }
  
  .footer-content{
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .contact-us h2{
    font-size: 25px;
  }
  .social-media{
    width: 80%;
    justify-content: space-evenly;
  }
  .social-media i{
    margin-left: 0;
  }
 

  .contact-us{
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }


  /* UX / UI */
  .study-case, .study-case-fix{
    grid-template-columns: 1fr;
    grid-template-rows: 4;
  }
  .study-case h3{
    font-size: 15;
  }
  .text-study-case span{
    font-size: 18px;
  }
  .study-case .image{
    grid-column: 1/5;
  }
  .study-case-fix .image{
    grid-row: 2;
  }
  .study-case p, .study-case-fix p{
    font-size: 14px;
   
  }
  
   /* MOBILE */
   .mobile-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4;
    align-items: center;
    justify-items: center;
    gap: 25px;
  }
  .mobile{
    width: 289px;
    height: 590px;
  }
  .mobile a{
   font-size: 14px;
  }

   .phone{
    
      position: relative;
      width: 270px;
      height: 530px;
      border-radius: 40px;
    
    
    overflow: hidden;
  
  }
  .iframe{
    width:272px; 
    height:530px;
  }
   
}



  

